  <nav>
  <div class="container">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Meower</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/posts">Feed</a></li>
        <li><%= link_to "New Post", new_post_path %></li>
        <% if user_signed_in? %>
          <li>
          <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
          </li>
          <% else %>
          <li>
          <%= link_to('Login', new_user_session_path) %>
          </li>
        <% end %>
      </ul>
    </div>
    </div>
  </nav>